#root {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

body {
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
